PORT=8000
MONGO_URI=mongodb+srv://username:password@cluster0.zkieqfp.mongodb.net/
ACCESS_TOKEN_EXPIRY=20min
ACCESS_TOKEN_SECRET=your_access_token_secret_here
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
REFRESH_TOKEN_EXPIRY=7d
GROQ_API_KEY=your_groq_secret_here